[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = {extras = ["and-cuda"], version = "*"}
opencv-python = "*"
aiohttp = "*"
scikit-learn = "*"
matplotlib = "*"
neptune = "*"
gdown = "*"

[dev-packages]

[requires]
python_version = "3.10"
