[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
tensorflow = "==2.14.1"
h5py = "*"

[dev-packages]
ipykernel = "*"
gdown = "*"
scikit-learn = "*"
matplotlib = "*"

[requires]
python_version = "3.11"
